{% extends 'layout.html' %}

{% block badass_content %}
<h1>About</h1>
<img id="my-picture" src="{{ url_for('static', filename='img/me(light).png') }}" />
<p>
    I'm from Paris, with a British upbringing, and for the past few years I've lived in the beautiful San Francisco.
    <br><br>
    I'm a developer, trained as a french engineer in theoretical sciences (that means lots and lots of math and physics theory).
    <br><br>
    Amongst too many things I'm curious about, I'm passionate about technology, entrepreneurship, math, innovation, and <a href="{{ url_for('static', filename='img/welcome-to-the-internet.jpg') }}">the internet</a>.
</p>
<br>

<h2>Engineering</h2>
<p>
    I proudly got my masters in a small, prestigious french school called<a href="http://www.quora.com/Paris/What-is-MINES-ParisTech-formerly-%C3%89cole-des-Mines-de-Paris"> Mines ParisTech</a>.
    <br><br>
    I've written quite a bit of python, javascript, elixir, and go, and these days I work for <b>Cruise Automation</b>, building self-driving cars!
    <br><br>
    I'm a big believer in open source, and I push everything I can to <a href="https://github.com/nichochar">github</a>.
    <br><br>
    If you are interested in working with me, you can check out my <a href="{{ url_for('cv') }}">resume</a>, 
    and I usually answer my <a href="mailto:nicholascharriere+blog@gmail.com"> email</a>.
</p>

<br>
<h2>Music</h2>
<p>
    I played classical piano for 12 years, but now I am mainly on the passive listener side. I mostly listen to classical, jazz, deep house, minimal, and hip hop.
    </br></br>
    You can find me on <a href="http://open.spotify.com/user/nicholascharriere">Spotify</a>, <a href="https://soundcloud.com/nicholas-charriere">SoundCloud</a>, and <a href="http://8tracks.com/nichochar">8tracks</a>
</p>

<h2>Photography</h2>
<p>
    I love photography, and mostly I take pictures of things that don't move.
    <br><br>
    I shoot with very little regularity, but you can find some of my stuff on <a href="http://500px.com/nichochar/">500px</a>.
</p>

<br>
<h2>Chess</h2>
<p>
    I love competitive games, and chess is the ultimate form of a 1v1 battle of the wits. I'm far from being a grandmaster, but if you want to
    play I'm always down, just send me a request on <a href="http://www.chess.com/members/view/nichochar">my chess.com</a> account.
</p>

<br>
<h2>Sports</h2>
<p>
    I play basketball, tennis and football (the one that uses feet). I also love mountain biking.
</p>

{% endblock %}
