{% extends 'layout.html' %}

{% block badass_content %}
<h1>Hello </h1>
<p>Hi, I'm <b>Nicholas</b>.<br>
I'm a programmer. I love building things, working on interesting problems and collaborating with interesting people. 
<br><br>
I'm from Paris originally, but was raised in a British environment, and now I live in the beautiful San Francisco!
<br><br>
If you want to contact me, try <a href="mailto:nicholascharriere@gmail.com"> my email</a>, or
<a href="http://twitter.com/nichochar"> my twitter</a>.
<br><br>
<div class="social-list">
<a class="linkedin" href="http://www.linkedin.com/pub/nicholas-charriere/36/830/283/"><i class="fa fa-linkedin fa-4x"></i></a>
<a class="github" href="http://github.com/nichochar/"><i class="fa fa-github fa-4x"></i></a>
<a class="fivehund" href="http://500px.com/nichochar"><i class="fa fa-camera fa-4x"></i></a>
<a class="twitter" href="https://twitter.com/nichochar"><i class="fa fa-twitter fa-4x"></i></a>
<a class="google-plus" href="https://plus.google.com/u/2/105550024561301737230/posts"><i class="fa fa-google-plus fa-4x"></i></a>
</div>

{% endblock %}


