{% extends 'layout.html' %}

{% block badass_content %}
<h1>Hello </h1>
<p>👋, I'm <b>Nicholas</b>.<br>
I'm a programmer that loves building things, working on interesting problems and collaborating with interesting people.
<br><br>
I grew up in France, but was raised as British, which leaves me in the middle of the channel. Now I live in the beautiful Bay Area with my wife Emily and my dog Zoey!
<br><br>
If you want to contact me, try my <a href="mailto:nicholascharriere@gmail.com">email</a>, or my <a href="http://twitter.com/nichochar">twitter</a>.
<br><br>
<div class="social-list">
<a class="linkedin" href="http://www.linkedin.com/pub/nicholas-charriere/36/830/283/"><i class="fa fa-linkedin fa-4x"></i></a>
<a class="github" href="http://github.com/nichochar/"><i class="fa fa-github fa-4x"></i></a>
<a class="fivehund" href="http://500px.com/nichochar"><i class="fa fa-camera fa-4x"></i></a>
<a class="twitter" href="https://twitter.com/nichochar"><i class="fa fa-twitter fa-4x"></i></a>
</div>

{% endblock %}
