{% extends 'layout.html' %}

{% block badass_content %}
<div class="projects-main-page">
    <h1>Projects</h1>
    <h2><a href="http://avostories.com">Avo</a></h2>
    <p>
        <i>Write for 5 minutes, every day!</i>
    <br>
    My girlfriend loves to write, but finds it hard to make it a daily habit. I worked on this daily prompt creative writing app: <a href="http://avostories.com">avostories</a>.
    <p>

    <h2><a href="http://loveaas.com">Love as a service</a></h2>
    <p>
        Love as a service (loveaas) provides a modern, RESTful, scalable solution to the common problem of spreading the love.
        It was written as a response to the fuck off as a service project.<br>
        <a href="http://loveaas.com/everyone/Nick">Quick example?</a>
    </p>

    <h2><a href="https://github.com/nichochar/clhn">Hacker New CLIs</a></h2>
    <p>
        When learning a new language, my goto app is not a todo list, but rather a command line hacker news client.
        Here are a couple I have on github, in <a href="https://github.com/nichochar/clhn">elixir</a> and <a href="https://github.com/nichochar/clhn-go">go</a>.
    </p>

    <h2><a href="http://kloutometer.herokuapp.com">Kloutometer</a></h2>
    <p>
        <i>Deprecated since Klout is dead</i>
        <br>
        The kloutometer allows you to compare klout scores by inputting different twitter handles.<br>
        It's written in Flask, and <a href="https://github.com/nichochar/kloutometer">open source on github</a>.<br>
    </p>

    <h2><a href="https://nicholascharriere.com/">This Website</a></h2>
    <p>
        The code for this website is also <a href="https://github.com/nichochar/blog">open source on github</a>.<br>
        It is a python Flask application, ran in on a Digital Ocean box (which I love), served with Nginx and uWSGI.
    </p>

</div>
{% endblock %}
