{% extends 'layout.html' %}

{% block badass_content %}
<div class="projects-main-page">
    <h1>Projects</h1>
    <h2><a href="http://avostories.com">Avo</a></h2>
    <p>
    My girlfriend loves to write, but finds it hard to make it a daily habit. I worked on <a href="http://avostories.com">this side project</a> of a "daily prompt" app 
        with a nice editor, and some social and gamification features, to make it more fun.
    <p>

    <h2><a href="http://loveaas.com">Love as a service</a></h2>
    <p>
        Love as a service (loveaas) provides a modern, RESTful, scalable solution to the common problem of spreading the love.
        It was written as a response to the fuck off as a service project.<br>
        <a href="http://loveaas.com/everyone/Nick">Quick example?</a>
    </p>

    <h2><a href="http://kloutometer.herokuapp.com">Kloutometer</a></h2>
    <p>
        The kloutometer allows you to compare klout scores by inputting different twitter handles.<br>
        It's written in Flask, and <a href="https://github.com/nichochar/kloutometer">open source on github</a>.<br>
        <a href="http://kloutometer.herokuapp.com/chart?handles=nichochar,barackobama,beyonce,yoda,justinbieber">Give it a wizz?</a>
    </p>

    <h2><a href="http://nicholascharriere.com">This Website</a></h2>
    <p>
        The code for this website is also <a href="https://github.com/nichochar/blog">open source on github</a>.<br>
        It is a python Flask application, I run in on Digital Ocean service (which I love) on a linux machine through apache.
    </p>

</div>
{% endblock %}
