{% extends 'article.html' %}

{% block article_content %}
<p>
I love writing. Do you?
</p>
<br>
<p>
I have a firm belief that creativity is one of the most exciting and rewarding human capabilities. The ability to create something out of nothing, whether it be amazing or more simple, blows my mind. There are many ways to be creative, you can just sit there and dream, but I think that creative writing, and transforming imagination into physical form is especially cool. I also believe in the power of developing habits to make the most effective changes in life.
</p>

<br>

<p>
Because of all of this, and because I also independently wanted to develop a writing habit, I created a web app that helps you automate the daily habit of writing, with some gamification and a nice interface to do so: <a href="http://avostories.com">AVO</a>.
</p>

<br>

<center><img src="{{ url_for('static', filename='img/avo.png') }}"></center>

<br>

<p>
Avo was not only inspired by my own desire of writing more, but also to help my girlfriend do the same thing, for slightly different reasons. She loves writing, and does it with orders of magnitude of more skill than me, but can find it hard to summon the motivation to write a longer piece. This is why <b>Avo</b> gives you a <b>theme</b>, every day, and a <b>5 minute timer</b>. You write your daily story, and get rewarded for keeping a streak of successful habit accomplished days, as well as the ability to make your stories public, or keep them private, at your discretion.
</p>

<br>

<p>
I’m really excited to see people use and enjoy it, if you think you would too, give it a try and spread the word!
</p>

{% endblock %}
