{% extends 'article.html' %}

{% block article_content %}
<p>
Last Friday was my last day at <a href="http://www.starmakerstudios.com">StarMaker</a>, and beginning next Tuesday, I am proud to be joining the team at <a href="http://URX.com">URX</a>.
</p>
<br>
<p>
After having stayed a while at StarMaker, and learned a lot about B2C mobile apps, I am excited to join a different kind of product, this time more engineering and science focused. If you don't know about URX, I suggest you <a href="https://www.youtube.com/watch?v=YApS4DlHG3k">check them out</a>, they are revolutionizing the way users navigate the tree structure that is mobile apps.<br> I am thrilled to join a team working on such an innovative product that - I believe - will change the way people use smartphones.
</p>
<br>
<p>
The challenges ahead seem terribly exciting, and this time I won't only be fooling around in Python, but also with Go, Scala, and many other cool technologies. I've been looking for a good excuse to mess with these for too long, so this is fantastic news!
<br><br>
</p>
<p>
Thank you StarMaker and all the people there, especially some engineers - who will recognize themselves - for all the things I learned, all the things I broke, and all the ones I fixed.
</p>
<p>
<br>
On to the next adventure!
</p>
{% endblock %}
