{%extends 'article.html' %}

{% block article_content %}
<p>TED is awesome. Seeing people that are the best in their field, or at least which have pushed the limits of
 whatever it is they do well (it can even be a 2min talk about how to tie your shoes better). One of the (arguably small)
 problems I find with TED is that it's not necessarily easy to find the best content directly. I regurlarly start pitching
 talks I've seen to friends who seem very keen on seeing them. So I decided to make a quick list of some of the best I have found.
</br>
{% endblock %}
